<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<wicket:extend>
    <div class="box box-primary">
        <form role="form" wicket:id="form">
            <div class="box-body">
                <!-- Row -->
                <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label wicket:for="titleField">Title</label>
                    <input wicket:id="titleField" type="text" class="form-control"/>
                    <span wicket:id="titleFeedback" class="help-block"/>
                </div>
                <!-- Row -->
                <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label wicket:for="descriptionField">Description</label>
                    <input wicket:id="descriptionField" type="text" class="form-control"/>
                    <span wicket:id="descriptionFeedback" class="help-block"/>
                </div>
                <!-- Row -->
                <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <label wicket:for="htmlField">HTML</label>
                    <textarea wicket:id="htmlField" class="form-control"/>
                    <span wicket:id="htmlFeedback" class="help-block"/>
                </div>
                <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <label wicket:for="groovyField">Groovy</label>
                    <textarea wicket:id="groovyField" class="form-control"/>
                    <span wicket:id="groovyFeedback" class="help-block"/>
                </div>
            </div>
            <div class="box-footer">
                <a wicket:id="closeButton" class="btn btn-default">Close</a>
                <button wicket:id="saveButton" type="submit" class="btn btn-info pull-right">Save</button>
            </div>
        </form>
    </div>
</wicket:extend>
</body>
</html>
