<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div class="col-md-6">
        <div class="form-group">
            <label wicket:id="typeReturnLabel"/>
            <select wicket:id="typeReturnField" class="form-control"/>
            <span wicket:id="typeReturnFeedback" class="help-block"/>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label wicket:id="subTypeReturnLabel"/>
            <select wicket:id="subTypeReturnField" class="form-control"/>
            <span wicket:id="subTypeReturnFeedback" class="help-block"/>
        </div>
    </div>
</wicket:panel>
</body>
</html>