<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div class="col-md-6">
        <div class="form-group">
            <label wicket:id="labelType"/>
            <select wicket:id="fieldType" class="form-control"/>
            <span wicket:id="feedbackType" class="help-block"/>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label wicket:id="labelSubType"/>
            <select wicket:id="fieldSubType" class="form-control"/>
            <span wicket:id="feedbackSubType" class="help-block"/>
        </div>
    </div>
</wicket:panel>
</body>
</html>